@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --primary-color: #008ac9;
    --secondary-color: #fca623;
    --light-gray: #949494;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 100px auto;
}

.card {
    max-height: 500px;
    border-radius: 12px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1),
                -1px -1px 7px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card:hover .card-img-container::after {
    opacity: 1;
    visibility: visible;
}

.card-img-container {
    height: 45%;
    position: relative;
}

.card-img-container:hover {
    cursor: pointer;
}

.card-img-container::after {
    content: 'Learn More';
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-body {
    height: 55%;
    padding: 10px 24px 24px 24px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.bullets-container {
    padding: 10px 0;
}

.bullet {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ccc;
}

.bullet--primary {
    background-color: var(--primary-color);
}

.bullet--secondary {
    background-color: var(--secondary-color);
}

.card-title {
    font-size: 1.6rem;
    font-weight: 900;
}

.card-title:hover {
    cursor: pointer;
}

.card-text {
    padding: 35px 0;
    color: var(--light-gray);
    font-size: 1rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    color: var(--light-gray);
    font-size: 0.9rem;
    margin-top: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 700px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    animation: modal-entrance 300ms ease-out;
}

.modal-bar {
    padding: 0px 24px;
    display: flex;
    justify-content: flex-end;
}

.modal-bar i {
    font-size: 1.8rem;
    color: var(--light-gray);
    padding: 15px;
}

.modal-bar i:hover {
    cursor: pointer;
}

.modal-img-container {
    height: 380px;
}

.modal-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal-body {
    padding: 20px 30px;
    min-height: 200px;
}

.modal-title {
    font-size: 1.4rem;
    font-weight: 900;
}

.modal-text {
    padding: 30px 0;
    color: var(--light-gray);
    font-size: 1rem;
}

.modal-user-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.modal-user-img-container {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
}

.modal-user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-user {
    color: var(--light-gray);
    font-size: 0.9rem;
    font-weight: 700;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

.spinner div {
    width: 100%;
    height: 100%;
    border: 20px solid transparent;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    animation: spinningThickToThin 1.2s linear infinite;
}

.spinner div:nth-child(2) {
    border: 20px solid transparent;
    border-bottom-color: var(--secondary-color);
    animation: spinningThinToThick 1.2s linear infinite;
}

@keyframes modal-entrance {
    0% {
        transform: translateY(-50px);
        opacity: 0.7;
        max-width: 680px;
    }
    100% {
        transform: positionY(0px);
        opacity: 1;
        max-width: 700px;
    }
}

@keyframes spinningThickToThin {
    0% {
        transform: rotate(0deg);
        border-width: 20px;
    }
    50% {
        transform: rotate(180deg);
        border-width: 5px;
    }
    100% {
        transform: rotate(360deg);
        border-width: 20px;
    }
}

@keyframes spinningThinToThick {
    0% {
        transform: rotate(0deg);
        border-width: 5px;
    }
    50% {
        transform: rotate(180deg);
        border-width: 20px;
    }
    100% {
        transform: rotate(360deg);
        border-width: 5px;
    }
}


@media (max-width: 1250px) {
    .container {
        margin: 30px 15px;
    }
}

@media (max-width: 960px) {
    .card {
        max-height: 600px;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: none;  
    }
    html {
        scrollbar-width: none;
    }
}